node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts

# IDE
.idea/
.vscode/

# partial deployments
deployments/*@*.json

# airdrops
scripts/airdrop/*.csv
scripts/airdrop/output
