# Needed for all deployments
MY_ACCOUNT_ID=""
MY_PRIVATE_KEY=""

WHBAR_CONTRACT_ID=""
FACTORY_CONTRACT_ID=""
MULTISIG_ACCOUNT_ID=""

# Timelock
TIMELOCK_DELAY=172800

# Staking
STAKING_CONTRACT_ID=""
STAKING_NFT_ID=""

# Governor
GOVERNOR_PROPOSER_THRESHOLD=500000000000000000000000