# Needed for all deployments
MY_ACCOUNT_ID=""
MY_PRIVATE_KEY=""

# Required for deployment
NETWORK="testnet"
HBAR_USD_PRICE="0.06"

# Optional for deployment
WHBAR_CONTRACT_ID=""
FACTORY_CONTRACT_ID=""
MULTISIG_ACCOUNT_ID=""
VESTING_BOT_ID=""
START_VESTING=false

# Timelock
TIMELOCK_DELAY=172800

# Staking
STAKING_CONTRACT_ID=""
STAKING_NFT_ID=""
